<%= form_for(blog) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_message.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>
  <br>
  <div class="form-group">
    <%= form.text_area :body, class: 'form-control', rows: 13, placeholder: 'Content' %>
  </div>
  <br>
  <div class="form-group">
    <%= form.submit "submit", class: 'btn btn-primary'%>
  </div>
  <br>
<% end %>
