<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keyword %>" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--class ="home-background"-->

    <div class="site-wrapper">
      <div class="site-wrapper-inner">    
        <div class="container">

          <%= video_tag(
           'f1.mp4',
           id: 'background',
           :height => "100%",
           :width => "100%", 
           :autoplay => true, 
           :loop => true,
           :muted => true
        

          )%>

          <%= render "shared/application_nav" %>
              
          <%= yield %>
          
          <%= render "shared/application_footer" %>    

          <%= alerts %>          

          <%= source_helper("Application")  %>

         
        </div>
      </div>
    </div>
  </body>
</html>
